[0;1;31m×[0m nginx.service - A high performance web server and a reverse proxy server
     Loaded: loaded (]8;;file://2024-2-sarafun/usr/lib/systemd/system/nginx.service/usr/lib/systemd/system/nginx.service]8;;; [0;1;32menabled[0m; preset: [0;1;32menabled[0m)
     Active: [0;1;31mfailed[0m (Result: exit-code) since Sun 2024-09-29 19:44:48 UTC; 19s ago
   Duration: 2h 36min 55.952s
       Docs: ]8;;man:nginx(8)man:nginx(8)]8;;
    Process: 9331 ExecStartPre=/usr/sbin/nginx -t -q -g daemon on; master_process on; [0;1;31m(code=exited, status=1/FAILURE)[0m
        CPU: 6ms

Sep 29 19:44:48 2024-2-sarafun systemd[1]: Starting nginx.service - A high performance web server and a reverse proxy server...
Sep 29 19:44:48 2024-2-sarafun nginx[9331]: 2024/09/29 19:44:48 [emerg] 9331#9331: "location" directive is not allowed here in /etc/nginx/nginx.conf:31
Sep 29 19:44:48 2024-2-sarafun nginx[9331]: nginx: configuration file /etc/nginx/nginx.conf test failed
Sep 29 19:44:48 2024-2-sarafun systemd[1]: [0;1;39m[0;1;31m[0;1;39mnginx.service: Control process exited, code=exited, status=1/FAILURE[0m
Sep 29 19:44:48 2024-2-sarafun systemd[1]: [0;1;38;5;185m[0;1;39m[0;1;38;5;185mnginx.service: Failed with result 'exit-code'.[0m
Sep 29 19:44:48 2024-2-sarafun systemd[1]: [0;1;31m[0;1;39m[0;1;31mFailed to start nginx.service - A high performance web server and a reverse proxy server.[0m
